<nav class="bg-black border-b-4 border-b-amber-400 px-4 py-4">
  <div class="container mx-auto flex justify-between items-center">
    <a routerLink="/" class="text-white font-bold text-xl">
      <img
        class="w-8 h-8"
        src="https://www.pngkey.com/png/full/762-7629968_graphic-black-and-white-library-payworldindia-irctc-railway.png"
        alt="logo"
      />
      E-Ticket</a
    >

    <ul class="flex space-x-4">
      <li>
        <a routerLink="/bookticket" class="text-white hover:text-gray-200"
          >Book-Tickets
        </a>
      </li>
      <li>
        <a
          href="https://ritik-ranjan.netlify.app/"
          class="text-white hover:text-gray-200 cursor-help"
          >Help
        </a>
      </li>
    </ul>
  </div>
</nav>
